@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    font-family: "Lato", sans-serif;
}

.quiz-body {
    background-color: rgb(163, 195, 255);
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.quiz-body .quiz-contents .quiz-title {
    margin: 1rem;
}

.quiz-body .quiz-contents .quiz-title h2{
    color: #ffffff;
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;
}

.quiz-body .quiz-contents .quiz-answears .answears-row {
    display: flex;
    justify-content: center;
}

.quiz-body .quiz-contents .quiz-answears .answears-row .answear-item {
    color: #ffffff;
    font-size: 1.25rem;
    margin: 0.5rem 1rem;
    padding: 1rem 2rem;
    background-color: rgb(80, 109, 204);
    border-radius: 1.5rem;
    cursor: pointer;
}

.quiz-body .quiz-contents .quiz-next {
    margin: 1rem;
}

.quiz-body .quiz-contents .quiz-next .btn-next{
    border: 0;
    outline: 0;
    padding: 0.75rem 4rem;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: rgb(34, 47, 85);
    cursor: pointer;
}